.navbar-brand img {
    max-width: 100px; /* oder eine für dein Layout passende Breite */
    max-height: 50px; /* oder eine passende Höhe */
    height: auto;
    width: auto;
}

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}



.text-justify {
    text-align: justify;
}